body, html {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: 'freesentation';
  scroll-behavior: smooth;
  background-color: #FFF0F5;
}

.main-header {
  display: flex;
  justify-content: center;
  flex-direction : column;
  align-items: center;
  height: 100vh; 
  font-size: 2em;
  text-align: center;
  background-color: #FFF0F5;
  font-family : 'Moirai One';
  font-size : 60px;
  color : #787878;
}


.App {
  text-align: center;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 24px;
}

section {
  padding : 50px 20px;
  min-height : 100vh;
}

#tilte {
  margin-top : 500px !important;
}

footer {
  background-color: #FFD5E5;
  color: #282c34;
  padding: 10px;
  text-align: center;
  padding: 20px 0;
}
